<div class="container">
  <form [formGroup]="classifyForm" (ngSubmit)="onSubmit($event)">
    <div class="ics-mb-3">
      <input type="file" (change)="onFileSelected($event)">
    </div>
    <div class="form-group">
      <div class="clr-form-control" [ngClass]="{'clr-error': imageUrlControl.invalid && classifyClicked}">
        <label for="example" class="clr-control-label">Label</label>
        <div class="clr-control-container">
          <div class="clr-input-wrapper">
            <input type="url" id="example" formControlName="imageUrl" placeholder="Example Input" class="clr-input" />
            <cds-icon class="clr-validate-icon" shape="exclamation-circle"></cds-icon>
          </div>
          <span class="clr-subtext" [ngClass]="{'clr-error': imageUrlControl.invalid && classifyClicked}">
            Error message
          </span>
        </div>
      </div>
    </div>
    <div class="form-group" [formGroup]="classifyForm">
      <clr-combobox-container>
        <label for="service">Service</label>
        <clr-combobox formControlName="service" name="service" required placeholder="Select a service">
          <clr-options>
            <clr-option clrValue="imagga">Imagga</clr-option>
            <clr-option clrValue="clarifai">Clarifai</clr-option>
          </clr-options>
        </clr-combobox>
      </clr-combobox-container>
    </div>
    <button type="submit" class="btn btn-primary" (click)="classifyClicked = true">Classify</button>
  </form>
</div>
