.uniform-img {
    
    height: 350px;
    width: 350px;
    object-fit: cover; 
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .card-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .uniform-img {
    max-width: 100%;
    max-height: 350px;
    margin: auto;
  }
  .autocomplete-suggestions div {
    padding: 5px;
    cursor: pointer;
  }
  
  .autocomplete-suggestions div:hover {
    background-color: #f5f5f5;
  }
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .page-number {
    text-align: center;
    padding: auto;
  }
  .ics-pageBtn {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50px;    
  }
  .ics-pageBtnNext{
    justify-content: left;
  }
  .input-form-container {
    display: flex;

    justify-content: center;
  }

 
.isc-div-one{
 width: 100%;
}
.isc-div-two{
  width: 100%;
 }
 .isc-div-three{
  width: 100%;
  text-align: end;
 }
 .ics-sort{
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50px;  
}
.pagination {
 
    display: flex;
    align-items: center;
  margin-top: 20px;
}
.btn{
  margin-right: 0px;
}