<div class="container">

<div class="ics-Search">
  <form clrForm class="input-form-container">
    <div></div>
    <div><clr-input-container>
      <input type="text" clrInput id="Tag" placeholder="Enter image Tag" [formControl]="inputFormControl" />
    </clr-input-container>
  </div>
    <button class="ics-sort"  (click)="sortImages()" id="analyzeButton">{{ sortButtonText }}</button>
  </form>
  </div>

  <div class="container">
    <div class="clr-row">
      <div class="clr-col-lg-4 clr-col-12" *ngFor="let image of images">
        <div [routerLink]="['/image', image.id]" class="card clickable">
          <div class="card-img">
            <img [src]="image.url" alt="Image" class="uniform-img">
          </div>
          <div class="card-block">
            <p>
              <strong>Image ID: </strong> {{ image.id }} <br>
              <strong>Top Tags:</strong>
            </p>
            <a *ngFor="let tag of image.tags.slice(0,5)" 
               (click)="filterImagesByTag(tag.tag, $event)" 
               class="label label-purple clickable">
              {{ tag.tag }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination" *ngIf="!inputFormControl.value">
      <button class="ics-pageBtn"  *ngIf="page >0" (click)="loadPrevious()"><</button>
      <span class="page-number">Page: {{ page + 1 }}</span>
      <button class="ics-pageBtn" *ngIf="page < totalPages - 1" (click)="loadNext()">></button>
    </div>
  </div>
</div>