.uniform-img {
    
    height: 350px;
    width: 350px;
    object-fit: cover; 
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .card-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .uniform-img {
    max-width: 100%;
    max-height: 350px;
    margin: auto;
  }
  .autocomplete-suggestions div {
    padding: 5px;
    cursor: pointer;
  }
  
  .autocomplete-suggestions div:hover {
    background-color: #f5f5f5;
  }
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .page-number {
    text-align: center;
  }
  .ics-pageBtn {
    display: inline-block;
    padding: 5px px;
    background-color: #4AAED9;
    color: black;
    cursor: pointer;
    border-radius: 50px;
    
  }
  .input-form-container {
    display: flex;
    justify-content: center;
  }
  .ics-sor{
    display: flex;
    padding-right: 1000px;
  }
 
 