<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="/classify" class="nav-link">
        <img
          src="assets/images/ICSicon.png"
          alt="ICSicon Logo"
          style="width: 50px"
        />

        <span class="title">Image Classify</span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="/classify" class="active nav-link" aria-current="page"
        ><span class="nav-text">Classify</span></a
      >
      <a routerLink="/gallery" class="nav-link" 
        ><span class="nav-text">Gallery</span></a
      >
    </div>
    <div class="header-actions">
      <a class="nav-link nav-icon" (click)="setTheme(!isLightTheme)" aria-label="settings">
        <cds-icon [shape]="themeIcon"></cds-icon>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area align-center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
