name: CodeSCan
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  CodeQL-Build:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
            java-version: 17
            distribution: ‘zulu’
            cache: maven
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
           languages: java
           debug: true
      - name: Autobuild
        uses: github/codeql-action/autobuild@v2
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
